@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Silkscreen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- variables --- */
:root {
  --c-primary: #4c35de;
  --c-semiwhite: #fbf9f8;
}

body {
  background: var(--c-semiwhite);
  color: var(--c-primary);
}

/* layout */
.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main.main {
  flex: 1;
}

nav.header + main {
  @apply mt-16;
}

/* util */
.text-xxs {
  font-size: 0.625rem;
}

.font-ss {
  font-family: 'Silkscreen', cursive;
}
